html, body{
  margin: 0;
}


h2{
  width: 300px;
  z-index:10;
  position:relative; 
  top:-650px; 
  left:500px;
  background:orangered;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}